<div class="row mb-4 project">
  <div class="col-md-5">
     {{#each parties}}
    <h1>{{event_name}} - {{event_date}}</h1>
    <p>{{address}}</p>
    <button onclick="partyDetails({{id}})">Event Details</button>
    {{/each}}

    <ul>
      {{#each guests}}
        <li>{{this.name}}
          <form id="guestFoodForm{{@index}}">
            <div id="guestFood" class="form-group">
              <label for="guestFood">Guest Food:</label>
              <textarea class="form-input" id="guestFoodDesc{{@index}}" name="guestFoodDesc"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          
          <form id="guestDrinkForm{{@index}}">
            <div id="guestDrink" class="form-group">
              <label for="guestDrink">Guest Drink:</label>
              <textarea class="form-input" id="guestDrinkDesc{{@index}}" name="guestDrinkDesc"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          
        </li>
      {{/each}}
    </ul> --}}
  </div>
</div>

<script>  
const partyDetails = (id) => {
    location.replace(`/party/${id}`)
}
</script>