<div class="row mt-4">
  <div class="col-md-6">
    <h3>My Party to Plan</h3>

    <form class="form new-event-form">
      <div class="form-group">
        <label for="party-add">Party Name:</label>
        <input class="form-input" type="text" id="party-add" name="party-add" />
      </div>
      <div class="form-group">
        <label for="date">Date:</label>
        <input class="form-input" type="date" id="date" name="date" />
      </div>
      <div class="form-group">
        <label for="party-desc">Description:</label>
        <textarea class="form-input" id="party-desc" name="party-desc"></textarea>
      </div>
      <div id="guestLabel" class="form-group">
        <label for="guestLabel">Guest:</label>
        <textarea class="form-input" id="guest" name="guest"></textarea>
      </div>
       <div class="form-group">
        <button id="addGuest" type="submit" class="btn btn-primary">Add Another Guest</button>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{!-- {{#if projects.length}} --}}
  <div class="col-md-6 project-list">
    <h3>Current Party:</h3>
    {{#each events}}
    {{#if @last}} 
    <div class="row mb-2">
      <div class="col-md-8">
        {{!-- <h2>{{event_name}}</h2> --}} 
        <h4>{{event_name}}</h4>
        <h5>Description: {{description}}</h5>
        <p>Date: {{event_date}}</p>
        {{!-- <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4> --}}
      </div>
      <div class="col-md-4">
        {{!-- <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button> --}}
      </div>
    </div>
    {{/if}}
    {{/each}}
  </div>
  {{!-- {{/if}} --}}
</div>

<script src="./js/profile.js"></script>
